/* CSS styles here */
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}

.q {
  /* border-bottom: 1px solid #CCC; */
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}


.pull-left {
  width: 50px !important;
}


table {
  border-collapse: collapse !important;
  width: 100% !important;
}

th,
td {
  border: 1px solid #dddddd !important;
  padding: 8px !important;
}

th {
  background-color: #f2f2f2 !important;
  color: rgb(48 50 68);
}
.trait-cell {
  width: 22% !important;
}

.progress-bar span {
  width: 100% !important;
  color: white !important;
  text-align: center !important;
  font-weight: bold !important;
  margin-top: 5px !important;
}
.progress-bar {
  height: 100% !important;
  background-color: #4caf50;
  width: 0;
}
.progress-percentage {
  width: 100% !important;
  color: white !important;
  text-align: center !important;
  font-weight: bold !important;
  display: none !important;
}
