<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ attach_library('personality_test/personality_test') }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
    <div class="" style="min-width: 130%;">
        <div class="row" >
            <div class="col-xs-12">
            </div>
            {% for question in questions %}
               <div class="q col-xs-12 col-sm-6 col-lg-3 {% if loop.first %}active{% else %}hidden{% endif %}" style="width:100%;">
            
                                <table style="height: 200px;">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center">{{ question.number }}</th>
                          {% for trait in question.traits %}
                <td class="text-center trait-cell">{{ trait }}</td>
                {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center">MOST</td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}most" value="d-most"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}most" value="i-most"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}most" value="s-most"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}most" value="c-most"></td>
                        </tr>
                        <tr>
                            <td class="text-center">LEAST</td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}least" value="d-least"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}least" value="i-least"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}least" value="s-least"></td>
                            <td class="text-center"><input class="radio-btn" type="radio" name="q{{ question.number }}least" value="c-least"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
             <div class="col-xs-12">
                <br>
                <p class="text-center">                   
                    <button id="backBtn" class="btn btn-default btn-lg-btns-back" disabled>Back</button>                
                    <button id="nextBtn" class="btn btn-primary btn-lg-btns-next" >Next</button>
                    <button id="submit" class="btn btn-primary btn-lg-btn-submit" disabled>Calculate Results</button>
                </p><br/>
                <div id="results">
                    <div class="pull-left"><span class="badge">D</span> <span id="d-score"></span></div>
                    <div class="progress">
                        <div id="d-chart" class="progress-bar progress-bar-success" role="progressbar"><span id="d-percentage"></span></div>
                    </div>

                    <div class="pull-left"><span class="badge">I</span> <span id="i-score"></span></div>
                    <div class="progress">
                        <div id="i-chart" class="progress-bar progress-bar-danger" role="progressbar"><span id="i-percentage"></span></div>
                    </div>

                    <div class="pull-left"><span class="badge">S</span> <span id="s-score"></span></div>
                    <div class="progress">
                        <div id="s-chart" class="progress-bar progress-bar-info" role="progressbar"><span id="s-percentage"></span></div>
                    </div>

                    <div class="pull-left"><span class="badge">C</span> <span id="c-score"></span></div>
                    <div class="progress">
                        <div id="c-chart" class="progress-bar progress-bar-warning" role="progressbar"><span id="c-percentage"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ base_path ~ directory }}/js/personality_test.js"></script>
</body>
</html>
